html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0B132B;
    min-width: 100vw;
    height: 100vh;
    position: fixed;
    color: #5BC0BE;
    
    
    animation:  0.5s linear 6.5s intro-to-menu forwards
}

.menu a {
    color: #5BC0BE;
    
}

.menu-content {
    opacity: 0;
}

.menu-content nav {
    display: none;
}
.menu-content i {
    font-size: x-large;
    font-weight: bold;
    padding: 13px;
    position: absolute;
    right: 8px;
    top: 8px
}
.intro-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 2px solid;
    padding: 15px;
    border-color:  #5BC0BE;
    min-height: 80vh;
    min-width: 70vw;
    /* justify-content: center; */
    /* align-items: center; */
}
.intro-content h1 {
    align-self: center;
    margin-bottom: 5px;
}

.intro-content span {
    margin-top: 5px;
}


.test {
    color: #5BC0BE;
}

@keyframes intro-to-menu {
    from {
        min-width: 100vw;
        height: 100vh;
        position: fixed
    }

    to {
        min-width: 100vw;
        height: 10vh;
        position: fixed;
        left: 0px;
        top: 0;
        z-index: 1;
    }
}

@media (min-width: 600px) {

    .menu-content i {
        display:none;
    }

    .menu-content nav {
        display: grid;
    }

    
    @keyframes intro-to-menu {
        from {
            background-color: #0B132B;
            min-width: 100vw;
            height: 100vh;
            position: fixed
        }
        
        to {
            background-color: #0B132B;
            /* left: 0px; */
            min-width: 20vw;
            min-height: 100vh;
            padding: 15px;
            z-index: 1;
            position: fixed;
        }
    }  
}
/* .menu {
    color: whitesmoke;
    font-size: large;
    background-color: darkslateblue;
    text-align: center;
    text-shadow: 0 0 10px;
    padding: 15px;
    position: fixed;
    left: 0px;
    width: 100vw;
    top: 0;
    z-index: 1;
} */





.home {
    max-width: 100vw;
    display: block;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home img {

}

.about {

}

div.text {
    margin-top: 120px;
}
span.typed-text {
    color: chartreuse;
    font-size: large;
}

span.cursor {
    font-weight: bold;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%  { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    99% { opacity: 0; }
    100%  { opacity: 1; }
}

body {
    justify-content: center;
    background-color: #1C2541;
    font-family: 'Source Code Pro', monospace;
}

paleta-de-cores {
    color: #0B132B;
    color: #1C2541;
    color: #3A506B;
    color: #5BC0BE;
    color: #6FFFE9;
}

.fading-in{
    animation: 1s linear 2s fading-in forwards;
}

.fading-out{
    /* text-align: center; */
    animation: 1s linear fading-out forwards;
}

@keyframes fading-in {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes fading-out {
    from { opacity: 1;}
    to { opacity: 0;}
}

.display-none {
    display: none;
}
